__pycache__/
*.pyc
.coverage

data/userpics/*
!data/userpics/.gitkeep

data/revisions/*
!data/revisions/.gitkeep

data/thumbnails/*
!data/thumbnails/.gitkeep

data/members/*
!data/members/.gitkeep

locks/*
!locks/.gitkeep
