__pycache__/
*.pyc

secret.key

app/lock/*
!app/lock/.gitkeep

html/*
!html/.gitkeep

data/userpics/*
!data/userpics/.gitkeep

data/documents/*
!data/documents/.gitkeep

data/thumbnails/*
!data/thumbnails/.gitkeep

docs/*
!docs/conf.py
!docs/index.rst
!docs/Makefile
