aiosqlite==0.22.1
aiofiles==25.1.0
alembic==1.18.4
filetype==1.2.0
coverage==7.13.5
cryptography==48.0.1
fastapi==0.136.3
flake8==7.3.0
pillow==12.2.0
psutil==7.2.2
python-magic==0.4.27
pydantic-settings==2.13.1
PyJWT[crypto]==2.13.0
python-multipart==0.0.27
pyotp==2.9.0
SQLAlchemy==2.0.48
uvicorn[standard]==0.30.6
